.header {
	display: flex;
	justify-content: space-around;
	background-color: #1f2937;
}

.header-text{
	font-size: 24px;
	color: #f9faf8;
	font-weight: bolder;

}
.container-one {
	display: flex;
	border-style: solid;
	border-color: black;
	justify-content: center;
	align-items:center;
	background-color: #1f2937;
}


.container-two {
	display: flex;
	border-style: solid;
	border-color: black;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	font-size: 18px;

}

.imageheader{
	display: flex;
	border-style: solid;
	border-color: black;
	align-self: flex-start;
	justify-content: unsafe center;
	font-size: 36px;
	color: #1f2937;
	font-weight: bolder;
	padding-bottom: 25px;

}

.container-three {
	display: flex;
	flex-flow: column nowrap;
	border-style: solid;
	border-color: black;
	justify-content: center;
	font-size: 36px;
	font-style: italic;
	color: #1f2937;
	background-color: #e5e7eb;
	padding: 100px 100px 100px 50vh;
	text-align: ;

}
.container-three-text {
	padding-right: 50vh;


	

}

.footer{
	display: flex;
	height: 20vh;
	
	justify-content: center;
	align-items: center;

	}

.footer-float {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3882f6;
	border-style: solid;
	border-color: #3882f6;
	color: #f9faf8;
	border-radius: 10px;
	font-family: sans-serif;
}

.footer-button{
	height: 50px;
	width:200px;
	margin: 20px;
 	border-color: white;
	border-radius: 5px; 
	font-weight: bold;
}

html, body {
	margin: 0;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #e5e7eb

}

li{
	display: inline;
	padding: 10px;
}
img{ max-height: 200px;

	
}

button {
	margin-top: 20px;
	background-color: #3882f6;
	color:#e5e7eb ;
}


.images{
	padding: auto;
	
}


.text {
	margin: 100px;
	color: #f9faf8;


}

p::first-line{
	font-size: 48px;
	font-weight: bolder;
}